## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [2]:
import numpy as np
import scipy as sp
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [4]:
samples = np.random.normal(100, 15, size = 1000)
samples

array([105.22682645,  97.73588995,  97.53112924, 103.00488087,
        97.81679462,  82.54713554,  95.78682363, 119.4057207 ,
        79.33151708,  80.7431314 , 113.39222777,  85.31942357,
       102.98868983, 116.99567083, 102.07070427, 104.24708699,
        96.30340483,  96.32965921,  78.52573934, 113.80366073,
       119.93796206,  82.30474339,  85.32754007,  80.07160093,
        92.30725091,  69.37976414,  87.96058171, 115.1883286 ,
       131.83209936, 102.73918617,  98.93103452, 120.45554653,
        98.1517433 , 124.88618882, 116.17998901, 112.48120657,
       101.10694173,  71.23166891, 111.46077764, 122.83994827,
       104.83411758,  90.61919399, 106.79793101,  94.89223816,
        80.95224308, 103.44459217, 111.36224988, 108.38602804,
       100.89113368, 105.50699842,  88.52155613, 122.42608668,
        91.97543708,  61.89323167, 119.75274992, 107.32286996,
       105.37679318, 106.74639012,  76.2907163 , 129.20154665,
       115.51098913,  95.63275565,  72.39755492,  99.92908642,
        86.08191463,  92.39155058,  87.69216133,  97.2096695 ,
       105.92215634, 113.32115807,  71.85000121, 119.8991152 ,
        80.80473943,  94.50176969,  95.61333557, 104.19522011,
        78.00522312,  86.91858254,  89.01874084, 117.24698437,
        90.67636343,  86.01929213, 117.64206088, 108.25964834,
        96.11082871, 121.4333878 ,  97.03384093,  80.10768302,
        90.99519114, 108.13690503,  96.22224044, 111.05664263,
        92.59406117,  96.99780612,  95.46868696,  97.39112855,
        91.32050477,  88.70485096, 117.09511596,  89.11318217,
       109.48673536,  94.18252768,  98.17801781,  51.30695786,
       119.58646285, 127.69570875,  88.97483207, 136.9434521 ,
        92.14903907,  95.81334363,  92.13847692, 106.45252722,
       107.6211923 ,  98.11791739, 107.79754028,  81.67301261,
        92.5068443 ,  87.22874143,  94.43933182,  82.88638485,
        84.14773157,  87.6503902 ,  89.22645097,  57.47400969,
        99.32932634, 104.53165206, 122.98799583,  54.28900944,
       106.24375139,  68.68822074, 115.85366953,  85.3276158 ,
        86.60151526, 105.87397936, 116.13917245, 102.19155565,
       109.93112419,  99.76413784,  92.65532579, 109.88165769,
        94.68593997, 105.32735638,  90.79141071, 126.3236176 ,
       113.16676608, 108.2532341 ,  89.76087553, 114.57145612,
        85.27344443,  81.70758909,  98.8184217 ,  88.36448922,
        87.85227512, 101.20479462,  92.06656546,  85.13204482,
        72.76338984, 107.73882257,  95.37897652,  68.93046869,
        95.34452143, 122.44325768,  99.57575311, 110.1068409 ,
        82.86426385,  98.89104065,  83.85711986, 106.19002326,
       101.86047561, 103.93724942,  72.06581306, 103.39451823,
        96.29965526, 116.78682006, 105.08681663, 106.23646502,
       102.1939501 , 129.46380111,  87.67703007,  99.2661521 ,
        98.5789871 , 112.28231568, 130.84927868,  90.48865383,
        90.84074893,  62.73073241,  77.79262452, 127.02311285,
        78.85411246,  97.47676429, 100.37148717, 101.28422858,
        92.43141258,  88.41605017,  92.73746182, 100.43432262,
        80.83304694, 123.33638207, 135.63886492,  74.20128186,
        92.49946798,  91.18914794, 119.63465014, 104.90645034,
        78.20818815, 135.09710388, 116.95418773,  98.13221942,
       134.82720618, 110.07529497,  90.49711807, 100.12159237,
       113.34408402, 117.06054866,  96.73101811, 105.78045982,
       125.0934344 , 108.71385075, 101.85761278, 101.66829103,
       127.24661683, 101.5615364 ,  95.89869004, 109.26273755,
        88.04449846, 105.45214438,  82.30360427,  93.11069542,
       119.76485619, 109.67808163, 112.4731171 ,  92.5581502 ,
        82.61424749, 105.56619879,  87.23471039, 131.89998488,
       103.25424816,  92.68180282, 102.09163257, 105.36612925,
        80.00057282,  90.14698746, 106.80129499,  90.11239264,
        81.83242264, 105.52626309, 107.33127065,  90.25629702,
        96.40631353,  69.50427301, 107.36021887,  98.95508696,
       113.42233706, 101.75421705,  95.02990477,  87.50402203,
       118.12596761, 105.20711397, 127.22843234,  89.50307995,
       109.12742298,  89.30689945,  85.25512041,  86.96703251,
       105.77961818, 101.51737108,  94.30513302,  94.21014727,
       108.73820812, 120.89048014, 102.37227556, 101.98850836,
        65.06193061, 102.84374302, 100.24794662,  83.18329114,
        93.41291366, 102.33494036, 119.78650111,  95.28216174,
       107.21476472,  88.77553144,  98.20885131,  79.6591901 ,
       112.73762984,  94.02115512,  91.74650656,  98.37737523,
       103.33387935,  83.8468978 , 114.99220985,  95.94930611,
        94.68038186, 102.17544689, 114.96063635,  88.14721811,
       122.79806735,  85.45946904, 105.30854922, 116.46238126,
       115.54805363, 105.00077986,  89.22245315,  99.54775694,
       100.53137872, 117.62986444,  99.32906552,  90.05591756,
       103.03416453, 136.89763767, 115.02020878,  97.25681735,
        90.88581218, 109.61283851,  71.61246703, 110.59060665,
       100.34905794, 111.48677051,  98.83930275, 108.80820874,
       109.93689245, 111.79599896,  91.69937974,  89.10843158,
       115.70048312,  91.45276986,  94.13767371,  89.33543605,
        70.54927531, 100.56583324, 124.68805865,  77.55994568,
       110.65082153, 100.34986884,  92.37994245, 144.27904563,
       110.13484394,  90.7579654 ,  95.56894129, 107.17028918,
       111.59807721,  90.63625177,  91.65828605,  97.19990881,
       129.1209472 ,  95.90295709, 105.98353657,  92.01295491,
        86.03964156, 103.09514098, 116.36139199,  99.92336439,
       120.48987101, 116.69157701,  77.54140056, 113.61434616,
       108.96921852, 105.19091442,  90.88357396, 118.71030843,
        98.97101918, 109.37970577,  87.31023187, 116.39207317,
        80.13604239, 110.30261514, 149.76967535,  83.13981876,
        84.60882362,  84.36318362,  87.3251775 , 116.4200948 ,
       100.6012048 ,  99.69627764,  92.96587008,  94.0917965 ,
       103.54224226, 106.60227916,  88.65037794,  83.32867241,
       109.42058438,  98.95243555, 106.35016712, 110.80876448,
       117.22750975,  96.98938326,  90.82177132,  96.26537993,
        83.19774271, 106.98875173,  90.16780629, 100.162207  ,
       102.06963922,  97.54313578,  89.15441675,  61.44371738,
       129.7371681 , 107.33270512, 131.79610898,  80.05837208,
       116.19568918,  95.06211259, 119.76445765, 103.64193887,
        90.54417256,  92.45313531, 105.09840234,  97.17048023,
       102.02958689,  87.89836714, 109.32704045, 100.65254072,
        90.63051227, 101.65140658, 100.18459444, 105.04221261,
       108.69438461, 125.67226411,  73.18554141,  96.55996631,
        96.5477951 , 117.02524137,  76.40295448, 102.09102797,
       100.63930557, 106.36049877, 104.09087723, 115.07549797,
       125.56442327,  90.31965654, 108.21537107,  84.78030466,
        90.55112972,  69.56689804,  73.32203049, 128.2005263 ,
       100.00099407,  92.08193387, 128.01210892, 103.01093903,
       107.9659679 ,  94.58487174, 108.6993348 ,  91.8537284 ,
       113.92111406,  98.12734294, 122.74417874, 110.30426941,
       108.71704171,  93.21757716,  80.21404636, 109.57846513,
       114.1826965 ,  94.43806723,  95.33893948, 100.87252215,
       103.34845764,  92.69716894, 128.43413037,  94.29483024,
       104.13289456,  93.83054649,  84.60783004, 117.49498453,
        94.58850678, 111.85713651,  96.50982278, 104.9002157 ,
       107.14961771, 115.10242768, 113.63562103,  82.33678277,
       112.26278082, 119.5037602 ,  94.97445003, 107.2040549 ,
        66.26775107,  81.87150954, 100.99775142, 105.03716581,
        99.53467805, 102.10855154, 100.3075375 , 113.64647263,
       110.00313543, 107.35092666,  90.53412997,  87.9874861 ,
       114.05501481,  81.32529105,  90.31332105, 126.79405161,
       106.87551865,  86.12870161, 103.29107043,  92.7733269 ,
        92.79782705,  93.84054068, 112.04085698,  91.29293709,
       122.05006396, 147.53619701, 105.93192875,  63.94833635,
       120.84952091,  90.89413416, 132.00036913, 100.26611186,
        91.87854402,  99.52492847, 113.62300139, 129.16395855,
       112.28763524, 139.19884464,  95.84615597, 101.52677994,
       104.72439432,  89.01191189,  93.50019176, 102.3002088 ,
        92.74403197,  99.43822513,  63.02024086,  77.51403818,
        93.62642103,  94.80814675, 103.16146615,  94.44878065,
       105.5385657 , 115.47456019,  88.74581562,  97.17229674,
       108.73093922,  93.30529768,  86.59921704, 105.95076541,
        95.75189231, 109.2015081 ,  79.98649857,  93.14945653,
       113.52466005, 119.02329633, 101.00047038,  92.25212865,
        87.85211482,  98.54875838, 110.80126129,  94.45660792,
        87.62120272,  98.06895425, 101.61079647,  97.3247447 ,
        91.28145371,  93.3817392 ,  91.71800675,  89.25347656,
        97.19049269,  84.6937002 , 110.6277335 ,  90.02409029,
       105.8345294 , 108.60929303,  90.21815586, 106.05904438,
       101.1780529 ,  91.2139537 , 104.47085974,  90.46236052,
        94.83339014,  87.07853098,  75.260495  , 111.02857371,
       109.76957557,  94.42308153, 121.28881575,  83.27357328,
        57.41498965, 108.63799005, 114.60293301, 100.43601712,
        85.80051866,  92.70523988,  66.05066878, 116.68329017,
       102.22319431,  82.47199742,  92.12659234,  94.85951714,
       106.20224621, 104.92800586,  90.72033764,  87.22899461,
       114.86440288,  74.08001429, 115.78330462, 119.88031588,
        89.1465469 , 138.01985472,  87.6178803 ,  97.09745507,
        88.77233063, 105.38408581,  78.30884679,  74.50404746,
       119.76147535,  98.58552472, 110.8412691 ,  86.21445769,
       114.08594801,  87.02092862, 103.10190406, 108.59275517,
        82.22505828, 101.73748687, 101.25594039, 104.59055397,
       107.44908855,  90.33440287, 162.8761258 ,  83.29912496,
        96.84654027, 126.24856456, 133.78087157,  98.05787432,
        99.23772911, 102.68736463, 111.06512891, 109.34751198,
       104.39451873,  89.62618476, 112.87701274,  85.46722509,
        96.21568168,  98.57100757,  85.17650285, 126.4860868 ,
        64.54643671,  97.17900934,  84.79653503, 101.12799688,
       110.2433132 , 108.54579415, 112.58703927, 112.32478283,
        82.07403358, 104.94097606, 100.98086551,  94.89713002,
       114.10945474,  87.65026508, 127.78749243,  94.1491521 ,
       108.07326468,  71.04599894,  73.80747885, 107.73950358,
        85.83722774, 107.14925829, 107.40714437, 116.71170348,
        86.36549433, 110.82587964,  92.09210093, 105.7315706 ,
       125.4497591 , 101.79210143, 103.28620715,  87.82711265,
       107.21241702,  99.37758017, 101.89409548,  81.31944513,
       110.12386426,  94.58143045, 100.16850588,  91.45246174,
       116.85916992,  94.62218681,  88.37517677, 110.01146757,
       100.75654614, 101.00297307, 105.36787742,  95.87829412,
        92.42526827, 106.17805444,  92.63215157,  92.64416042,
        86.44314269,  83.47876788,  96.84179219, 119.89607831,
        81.00923232,  98.35179384, 127.5704113 , 108.58846499,
        89.32027013, 100.01191104, 107.50790892,  79.23892334,
        95.91844969, 107.11758668, 120.04489564, 105.24101876,
        88.26400905, 100.83395199, 136.39310031, 114.78754605,
       112.10238533, 121.85985383, 106.33545289, 122.66405356,
        81.81852563, 103.54180914, 104.55761044,  91.44366027,
        63.16743751,  73.04570974, 132.29097595,  86.95674028,
       102.02043592, 104.93687581,  95.69774856, 112.52929562,
        92.05577821, 103.23851838,  91.26908513,  74.32496089,
        78.83571976,  95.83222059,  91.20543469,  93.92987635,
        68.98770474, 120.75635002, 116.30677733, 116.54005882,
       115.39295611, 115.37947417, 114.05554248,  94.57554452,
       101.86358796,  89.57166021,  92.56965088, 105.0391454 ,
        87.07064656, 115.05219404,  76.86744237,  85.41627173,
       100.07759146,  60.21804139, 101.41059527,  96.02551026,
       113.78753945,  89.9110703 ,  94.73158441, 108.44465379,
        83.76216027,  98.34071075, 130.0399518 , 117.13078405,
       113.47999252, 104.12152349,  94.57320115,  65.23892315,
        99.59947063,  79.15401241,  81.45078337,  79.00214012,
       104.52015569,  90.38506947,  95.99882939, 110.18869808,
        91.2232898 ,  94.79932233,  84.41689474, 105.58177608,
        94.50153845,  72.6111748 ,  96.55544037, 123.80919039,
        96.71889849, 114.17222538, 120.36929658, 114.37373315,
       119.26526   ,  89.09727203,  97.16592503,  97.34538465,
       100.04254615,  88.02102432, 120.27915368, 100.66165826,
        93.30281385,  85.48919383,  99.02585382, 103.67117352,
        96.70716029, 116.99016199, 110.13234696, 108.16525075,
       116.13401849,  67.70952813,  81.3782695 , 117.71328231,
        82.63025458,  87.80684888,  89.18368658,  83.27892201,
       105.20345643, 119.8530876 ,  77.6274403 , 110.90568634,
        73.85614973,  90.78549238,  74.69266946,  68.99180802,
        92.9859654 ,  81.92651691,  88.65669343, 114.48019079,
       102.15094511, 107.22037507, 100.2024206 , 104.66195369,
       121.99025842,  91.65190834,  97.22582793,  75.96281384,
       103.95345017, 102.77115625,  92.54906961,  77.9976165 ,
       104.82734099,  85.40596824,  74.53923987, 115.71604724,
        87.75470657,  98.75103093,  70.77104476,  99.8477232 ,
       108.70149033, 106.8211828 ,  80.85550177,  93.70516648,
        99.53743866,  98.73459283,  96.38844312, 117.60230861,
       108.68174494,  93.31694559, 136.03673132, 116.67196338,
       123.77542694,  63.69727543,  88.8610407 ,  89.49615684,
        77.70716319, 103.95689351, 105.09427556, 106.16682338,
       117.44533541, 122.83610929, 119.45131183, 124.31144642,
       114.41373697,  63.2923312 , 111.95838931,  90.93360513,
        97.88767425, 105.10797116, 121.04432816, 101.1986975 ,
       105.79715497,  98.65019311, 101.7206905 ,  76.32682428,
       124.14207986,  71.8781225 ,  93.23496074,  90.54345188,
       113.81065045, 118.65901579, 115.57995844,  96.83575072,
       114.63502937, 116.9779034 , 115.00766055,  99.9809615 ,
       119.0672597 ,  96.42276065,  92.04107276,  99.40384028,
        94.92824964, 102.79578196, 102.44183065,  97.38806928,
        95.03940183,  79.48242255, 105.72432848,  78.57513445,
        87.28024874,  98.28921806,  72.57065369,  93.91863213,
       114.04573889,  80.70019312, 142.66733173, 114.99472479,
       104.11186433,  97.28823682, 117.2027537 , 102.8042963 ,
        81.59485996, 112.03937145, 139.80897989,  86.04406472,
       108.09859655, 116.20259795,  95.36422348,  77.7810674 ,
       107.19891256, 112.49554156, 103.58273087,  90.91190204,
       104.43743556, 116.63636217,  84.34736899, 114.166395  ,
        86.56412814,  83.14631096,  77.91560248, 119.95381744,
        71.70270283,  92.98383641,  97.08862951,  87.21788806,
       128.38608818, 120.42954628,  90.01213264,  86.25676632,
        99.42630816,  93.42022856, 113.75435709, 101.99985314,
        82.95510308,  88.50718472, 105.32405684, 113.03085946,
       108.25653454, 103.47689182, 106.95077177, 110.88298294,
       104.48326524,  86.8521656 ,  99.11513476,  82.44851357,
        87.9883579 , 111.73327996,  98.53915914,  91.91646749,
       116.53539744, 100.63633532, 105.29989026,  94.25867019,
        89.05211783,  97.86879718, 124.11315508,  98.49467687,
        95.67959377,  87.02116593, 101.96655748, 100.65352341,
       114.04810072, 109.04998298, 106.84516267,  94.08097201,
       103.81885033,  89.66106682, 101.78152082,  90.39809772,
       123.63865685,  79.96860224,  86.74403812,  82.74613543,
       112.65628234, 116.19865937,  98.59960265, 105.75892337,
        81.14729559,  83.25502926,  88.5809987 , 131.22333323,
        98.78691609, 120.98914387,  95.76776592,  97.13878685,
        98.24513313,  78.59771741,  72.23150881, 120.10509084])

Compute the **mean**, **median**, and **mode**

In [11]:
from scipy import stats
mean = samples.mean()
median = np.median (samples)
mode = stats.mode (samples)
print (mean,"\n", median,"\n", mode)

99.82045389313572
 99.53605835597276
 ModeResult(mode=array([51.30695786]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [17]:
min = samples.min()
max = samples.max()
q1 = np. percentile(samples, 25)
q3 = np. percentile(samples,75)
iqr = q3-q1
print(min,"\n",max,"\n",iqr)

51.306957857066394
 162.87612580218797
 19.014085664104684

Compute the **variance** and **standard deviation**

In [19]:
variance = samples.var()
std_dev = samples.std()
print (variance,"\n",std_dev )

224.20516724748197
 14.973482135010613

Compute the **skewness** and **kurtosis**

In [20]:
skewness = stats.skew (samples)
kurtosis =stats. kurtosis(samples)
print (skewness,"\n",kurtosis)

0.09263468896813584
 0.4366727701731956

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [21]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [22]:
y = np. array(np.random.randint(20, size=10))
y

array([13, 19, 15, 14, 12, 14,  0,  0,  0, 18])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [23]:
r = np. corrcoef (x, y)
r

array([[ 1.       , -0.4936193],
       [-0.4936193,  1.       ]])

## Pandas Correlation Calculation

Run the code below

In [24]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [26]:
r = x. corr (y)
r

0.7586402890911867

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [28]:
rho =x. corr (y, method = "spearman")
rho

0.9757575757575757

## Seaborn Dataset Tips

Import Seaborn Library

In [32]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [33]:
tips = sns.load_dataset("tips")

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [35]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [36]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [37]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000